@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@100&family=Ubuntu&display=swap');
/* font-family: 'Overpass', sans-serif;
   font-family: 'Ubuntu', sans-serif; */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #dde1e7;
    font-family: 'Ubuntu', sans-serif;
}
button{
    border: none;
}
.start-btn{
    font-family: 'Ubuntu', sans-serif;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 120px;
    padding: .9em;
    height: 70px;
    /* font-size: 1.1rem; */
    font-weight: 700;
    color: #333;
    box-shadow: -3px -3px 7px #ffffff73, 3px 3px 5px rgba(94, 104, 121, .288);
    /* box-shadow: inset -3px -3px 7px #ffffff73, inset 3px 3px 5px rgba(94, 104, 121, .288); */
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background: none;
    display: block;
}
.hide-start-btn{
    display: none;
}
.rules{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    /* height: 210px; */
    width: 85%;
    box-shadow: inset -3px -3px 7px #ffffff73, inset 3px 3px 5px rgba(94, 104, 121, .288);
    color: #333;
    border-radius: 15px;
    /* padding: .9rem 1.3rem .9rem 1.3rem; */
    display: none;
}
.rules-display{
    display: block;
}
.rules h2{
    font-size: .9rem;
    padding: .9rem 1.3rem .9rem 1.3rem;
}
.line{
    height: 7px;
    width: 100%;
    border-radius: 5px;
    box-shadow: inset -3px -3px 7px #ffffff73, inset 3px 3px 5px rgba(94, 104, 121, .288);
}
.increasing-line{
    width: 0px;
    transition: .7s;
}

.rules-info{
    padding: .9rem 1.3rem .9rem 1.3rem;
}
.rules-info p{
    line-height: 1.55;
}
.rules-info span{
    color: royalblue;
}
.exit-and-continue{
    display: flex;
    justify-content: flex-end;
    padding: .6rem 1.3rem .6rem 1.3rem;
}
.exit-and-continue button{
    width: 80px;
    padding: .9em;
    background: none;
    height: 35px;
    font-weight: 500;
    border-radius: 5px;
    font-family: 'Ubuntu', sans-serif;
}
.exit-btn{
    box-shadow: inset -3px -3px 7px #ffffff73, inset 3px 3px 5px rgba(94, 104, 121, .288);
}
.continue-btn{
    box-shadow: -3px -3px 7px #ffffff73, 3px 3px 5px rgba(94, 104, 121, .288);
    margin-left: .9rem;
}
/* .exit-btn:active, .exit-btn:focus{
    box-shadow: -3px -3px 7px #ffffff73, 3px 3px 5px rgba(94, 104, 121, .288);
}
.continue-btn:active, .continue-btn:focus{
    box-shadow: inset -3px -3px 7px #ffffff73, inset 3px 3px 5px rgba(94, 104, 121, .288);
} */
.quiz-questions{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding-bottom: .8rem;
    width: 85%;
    box-shadow: -3px -3px 7px #ffffff73, 3px 3px 5px rgba(94, 104, 121, .288);
    border-radius: 15px;
    display: none;
}
.display-quiz-questions{
    display: block;
}
.quiz-questions h2{
    font-size: .9rem;
    align-self: center;
}
.quiz-timer{
    padding: .9rem 1.3rem .9rem 1.3rem;
    display: flex;
    justify-content: space-between;
}
.time{
    /* width: 100px; */
    /* height: 70px; */
    padding: .4rem;
    display: flex;
    box-shadow: inset -3px -3px 7px #ffffff73, inset 3px 3px 5px rgba(94, 104, 121, .288);
    font-size: .75rem;
    border-radius:  5px;
}
.time-status{
    align-self: center;
}
.time-countdown{
    border-radius: 50%;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #dde1e7;
    box-shadow: -3px -3px 7px #ffffff73, 3px 3px 5px rgba(94, 104, 121, .288);
    position: relative;
}
.time-countdown::after{
    content: '';
    position: absolute;
    height: 80%;
    width: 80%;
    background-color: transparent;
    border-radius: 50%;
    box-shadow: inset -3px -3px 7px #ffffff73, inset 3px 3px 5px rgba(94, 104, 121, .288);
}
.javascript-questions{
    padding: .9rem 1.3rem .9rem 1.3rem;
}
.javascript-questions h2{
    font-size: .9rem;
}
.question-answers{
    margin-top: .6rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* height: 190px; */
}
.answer{
    padding: .6rem .6rem .6rem .6rem;
    height: 50px;
    box-shadow: -3px -3px 7px #ffffff73, 3px 3px 5px rgba(94, 104, 121, .288);
    font-size: .7rem;
    margin-bottom: .9rem;
    display: flex;
    justify-content: space-between;
}
.disable-click{
    pointer-events: none;
}
.answer p{
    width: 230px;
    /* border: 1px solid red; */
    padding-right: .6rem;
    align-self: center;
}
.answer-status{
    align-self: center;
    visibility: hidden;
}
.display-status{
    visibility: visible;
}
.fa-circle-check{
    color: green;
    font-size: 1.2rem;
}
.fa-circle-xmark{
    color: red;
    font-size: 1.2rem;
}
.questions-left{
    display: flex;
    justify-content: space-between;
    padding: .9rem 1.3rem .9rem 1.3rem;
}
.questions-left span {
    font-weight: 700;
}
.num-of-questions-left{
    align-self: center;
}
.next-question-btn{
    padding: .8rem;
    box-shadow: -3px -3px 7px #ffffff73, 3px 3px 5px rgba(94, 104, 121, .288);
    border-radius: 5px;
    width: 90px;
    height: 40px;
    background: none;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
}
.result{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 2rem;
    width: 85%;
    height: 250px;
    box-shadow: inset -3px -3px 7px #ffffff73, inset 3px 3px 5px rgba(94, 104, 121, .288);
    border-radius: 15px;
    display: none;
}
.result h2{
    margin: 1.2rem auto;
    font-size: 1.1rem;
    width: 90%;
    text-align: center;
}
.result span{
    font-weight: 500;
}
.crown-icon{
    width: 50px;
    margin: auto;
}
.fa-crown{
    font-size: 2.5rem;
}
.replay-and-quit{
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin: 1.5rem auto;
    /* border: 2px solid red; */
}
.replay-and-quit button{
    width: 100px;
    padding: 1.3em;
    background: none;
    border-radius: 5px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    font-size: .7rem;
}
.replay-btn{
    box-shadow: -3px -3px 7px #ffffff73, 3px 3px 5px rgba(94, 104, 121, .288);
}
.quit-btn{
    box-shadow: inset -3px -3px 7px #ffffff73, inset 3px 3px 5px rgba(94, 104, 121, .288);
}
.show-result{
    display: block;
}